<!DOCTYPE html>
<html>
    <head>
        <title>Chatbot intro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="static/css/introPage.css">

    </head>

    <body>
        <div id="introList">
            <ul id="slide">
                <li> <!--첫번째 화면-->
                    <div>
                        <div class="page" id="first" >
                            <img class="brain" src="/static/image/brain.png" style="width:200px; height:210px;">
                            <h1>당신의<br>불안한 마음을<br>위로하기 위해</h1>
                        </div>
                        <div class="page" id="second">
                            <h1>상담 AI 챗봇에게<br> 당신의 마음을<br> 말해주세요<br><br> </h1>
                            <img class="bubble" src="/static/image/bubble.png">
                            <img class="iPhone" src="/static/image/iPhone.png">
                        </div>
                        <div class="page" id="third">
                            <h1>BrainStorming  </h1>
                            <img class="bs" src="/static/image/bs.jpg">
                            <h2>생각과 감정을<br>스스로 정리하고 관리</h2>

                        </div>
                    </div>
                </li>
                <li> <!--두번째 화면-->
                    <div>
                        <div class="page" id="fourth" >4</div>
                        <div class="page" id="fifth">5</div>
                        <div class="page" id="sixth">6</div>
                    </div>
                </li>
            </ul>

            <div id = "button">
                <button class="startButton">챗봇 사용하기</button>
            </div>

            <div class="slider-btns" id="next"><span>&gt;</span></div>
            <div class="slider-btns" id="previous"><span>&lt;</span></div>

            <!--페이지 표시 바-->
            <div id="pageBar">
                <ul>
                </ul>
            </div>
        </div>


    <script src="static/js/introPage.js?after"></script>
    </body>
</html>